head
	link(href='css/popup.css',rel="stylesheet")
	script(src="popup.js")
body
	.main
		.container
			.block
				#title
			#clickbtn Click
			label.switch
				input(type="checkbox" class="switch-input")
				span(class="switch-label" data-on="On" data-off="Off")
				span(class="switch-handle")