head
	link(href='css/popup.css',rel="stylesheet")
	script(src="popup.js")
body
	header
		.preloader
	.main
		.container
			p.title <span>Seo</span>Grab 
			.block
				.block__info
					p.block__title Page Title:
					.block__subtitle
						p.lenght <span class="lenght-title"></span> / 70 ch
				.block__input
					input.copy-text.page-title(type="text" name="page-title" value="")
					span.copy Copy
			.block
				p.block__title.block__title--sm Meta:
				.block__info
					p.block__title Description:
					.block__subtitle
						p.lenght <span class="lenght-description"></span> / 160 ch
				.block__input
					textarea.copy-text.page-description(name="description")
					span.copy Copy
			.block.block--single
				.plus(data-link="opengraph") +
				p.block__title OpenGraph Tags:
				.block__item#opengraph
						p Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum eos necessitatibus nihil libero aut sint, nobis aspernatur laborum assumenda atque quia dolore voluptatibus natus aliquam eveniet tempore ut animi et.
						.uuu Lorem ipsum dolor sit amet, consectetur. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum eos necessitatibus nihil libero aut sint, nobis aspernatur laborum assumenda atque quia dolore voluptatibus natus aliquam eveniet tempore ut animi et.
			#clickbtn Click
			label.switch
				input(type="checkbox" class="switch-input")
				span(class="switch-label" data-on="On" data-off="Off")
				span(class="switch-handle")