$body_background: #fff;
$block_background: #fff;
$font_color: #343434;

$green_bg: #00e7b9; // #ff836f // #4c77c5



$font: 'Roboto'; // 'Open Sans', 'Lato', 'Roboto'

@import "partials/reset";

@mixin poppins700 {
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
}

@mixin block-boxshadow {
	box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

html {
	font-size: 16px;
	box-sizing: border-box;
}

@media only screen and (max-width: 900px) {
	html {
		font-size: 14px;
	}
}

@media only screen and (max-width: 500px) {
	html {
		font-size: 13px;
	}
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2.9rem;
}

h3 {
	font-size: 2.8rem;
}

h4 {
	font-size: 2.6rem;
}

h5 {
	font-size: 2.4rem;
}

h6 {
	font-size: 2.2rem;
}


body {
	background-color: $body_background;
	color: $font_color;
	font-family: $font;
}

*, *:before, *:after {
	box-sizing: inherit;
}

a {
	text-decoration: none;
	color: #000;
	transition-duration: .5s;

	&:hover {
		color: #2eae7b;
	}
}

.container {
	max-width: 1140px;
	width: 100%;
	margin: 0 auto;
}

.header {
	background-color: $green_bg;
	color: #fff;

	&__container {
		display: flex;
		justify-content: space-between;
		padding: 0 10px;
	}

	&__sub {
		padding: 0 10px;
		padding-bottom: 40px;

		&:before {
			content: '';
			height: 70px;
			display: block;
			width: 100%;
		}
	}
	
	&__title {
		font-weight: 900;
		font-size: 5rem;
	}

	&__subtitle {
		font-weight: 500;
		font-size: 2.5rem;
	    margin-top: -10px;

	    span {
			font-weight: 900;
	    }
	}
}

.menu {
	display: flex;
	align-items: center;

	&__item {

		.menu__link {
			display: block;
			transition-duration: .5s;
			height: 70px;
			padding: 25px 15px;
			color: #fff;
			font-weight: 500;
			font-size: 1.1rem;
			border-bottom-right-radius: 2px;
			border-bottom-left-radius: 2px;

			&:hover {
				background-color: rgba(2, 206, 165, 0.4);
			}
		}
	}

	&__logo {
		padding: 0;
		height: auto;
		padding-right: 40px;

		&:hover {
			background: none;
		}
	}


}

.logo {
	color: #fff;	
	
	h1 {
		font-size: 2.6rem;
		font-weight: 800;
		text-shadow: 2px 0px 1px rgba(150, 150, 150, 0.4);
		transition-duration: .5s;


		span {
			margin-top: -5px;
			display: block;
			text-transform: uppercase;
			font-size: 1.5rem;
			font-weight: 700;
		}
	}

	img {
		width: 100%;
		max-width: 80px;
		height: 60px;
	}
}

.content {

	&__container {
		display: flex;
		padding-top: 40px;
		padding-bottom: 40px;
	}

	&__info {
		padding: 40px 5px;
	}

	&__preview {
		padding: 40px 5px;
	}

}

.title {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.6rem;
	color: #2f353e;
	font-weight: 800;
	padding-bottom: 10px;
}

.text {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.1rem;
	line-height: 1.6rem;
	letter-spacing: 0.03rem;
	font-weight: 400;
	padding-top: 10px;
	padding-right: 100px;
	color: #585151;

}



























































.social__button {
	display: flex;
	justify-content: center;
	align-items: center;
	text-decoration: none;
	background-color: #fff;
	width: 35px;
	height: 35px;
	line-height: 35px;
	position: relative;
	overflow: hidden;
	opacity: .99;
	border-radius: 50%;
	// box-shadow: 0 0 30px 0 rgba(0,0,0,0.06);
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.35);
	transition: all .35s cubic-bezier(0.31,-0.105,0.43,1.59);

	.fa {
		font-size: 1.5rem;
		vertical-align: middle;
		transform: scale(0.75);
		transition: all .35s cubic-bezier(0.31,-0.105,0.43,1.59);
		color: red;
	}

	&:before {
		content: '';
		background-color: red;
		width: 120%;
		height: 120%;
		position: absolute;
		top: 90%;
		left: -110%;
		transform: rotate(45deg);
		transition: all .35s cubic-bezier(0.31,-0.105,0.43,1.79);
	}

	&:hover:before {
		top: -10%;
		left: -10%;
	}

	&:hover .fa {
		color: #fff;
		transform: scale(1);
	}

	&:focus {
		opacity: .85;
	}

	&--mail:hover:before {
		background-color: red;
	}

	&--facebook:hover:before {
		background-color: #4267b2;
	}

	&--linkedin:hover:before {
		background-color: #0084bf;
	}

	&--twitter:hover:before {
		background-color: #1da1f2;
	}

	&--youtube:hover:before {
		background-color: #f00;
	}
}

#hire-me {
	position: relative;
	background: #FFF;
	padding: 25px;
	width:auto;
	max-width: 400px;
	margin: 0 auto; 
}

.mfp-zoom-in {
  
  /* start state */
  .mfp-with-anim {
    opacity: 0;
    transition: all 0.2s ease-in-out; 
    transform: scale(0.8); 
  }
  
  &.mfp-bg {
    opacity: 0;
	  transition: all 0.3s ease-out;
  }
  
  /* animate in */
  &.mfp-ready {
    .mfp-with-anim {
      opacity: 1;
      transform: scale(1); 
    }
    &.mfp-bg {
      opacity: 0.8;
    }
  }
  
  /* animate out */
  &.mfp-removing {
    
    .mfp-with-anim {
      transform: scale(0.8); 
      opacity: 0;
    }
    &.mfp-bg {
      opacity: 0;
    }
    
  }
  
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
	opacity: 0;
	transition: all 0.3s ease-out;
}

/* padding-bottom and top for image */
.mfp-no-margins img.mfp-img {
	padding: 0;
}
/* position of shadow behind the image */
.mfp-no-margins .mfp-figure:after {
	top: 0;
	bottom: 0;
}
/* padding for main container */
.mfp-no-margins .mfp-container {
	padding: 0;
}

.mfp-with-zoom.mfp-ready .mfp-container {
		opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
		opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container, 
.mfp-with-zoom.mfp-removing.mfp-bg {
	opacity: 0;
}




@import "partials/mobile.scss";
