head
	title SeoBookmarklet - Site Information
	meta(charset='UTF-8')
	meta(name="description", content="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, ipsum! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, ducimus.")
	meta(name="author", content="Jason Statham")
	
	meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no")
	//- Favicon
	link(rel="shortcut icon" href="/images/favicon.png" type="image/png")
	//- Google Fonts
	link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800" rel="stylesheet")
	link(href="https://fonts.googleapis.com/css?family=Poppins:700" rel="stylesheet")

	link(href='css/main.css',rel="stylesheet")
