header.header
	.container.header__container
		ul.menu
			li.menu__item.menu__logo
				a(href="#")
					.logo
						h1 SEO <span>Fields</span>
			li.menu__item
				a.menu__link(href="#") About
			li.menu__item
				a.menu__link(href="#") Download
			li.menu__item
				a.menu__link(href="#") Contact
		.header__button
			a.btn(href="#") Download
	.container.header__sub
		p.header__title SEO Fields
		p.header__subtitle A browser extension for <span>Chrome</span>
section.content
	.container.content__container
		.content__info
			p.title Lorem ipsum dolor sit.
			p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit nulla modi, porro quae harum ducimus officiis tenetur? Perspiciatis quisquam maxime maiores, amet nisi saepe distinctio, sapiente, quam corporis necessitatibus explicabo.
			p.text Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, expedita, nisi? Deserunt, ut cupiditate vel inventore necessitatibus odio commodi, autem magni quos dolorem tempora reprehenderit! Nulla soluta harum illum, aspernatur.
			//- a.btn(href="#") Download Free
		.content__preview
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint similique quis sapiente, sit incidunt, facilis. Animi adipisci praesentium magnam dolore recusandae, alias nemo eum sit id quisquam, unde voluptas excepturi!

//- script(src="js/main.js")