//- .btn Click
//- .container
//- 	h1 Hello World h1
//- 	h2 Hello World h2
//- 	p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quis unde aliquam omnis ipsam consequuntur cumque labore deserunt earum ullam quod. Praesentium eius aut, sunt vero minus natus modi odio dolorum.
.seobookm
	p.title <span>Title:</span> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed, quo.

script(src="js/main.js")