@import 'part/reset';
@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,600,700,900');

$body_color : #e8e8e8;
$block_color: #f8f8f8;

$input_textarea_color: #4d4d4d;

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	background-color: $body_color;
	font-family: 'Nunito', sans-serif;
}

textarea {
	font-family: 'Nunito', sans-serif;
	max-width: 100%;
	resize: none;
	border: none;
	height: 45px;
	padding: 5px;
	color: $input_textarea_color;
}

input {
	font-family: 'Nunito', sans-serif;
	max-width: 100%;
	height: 18px;
	padding: 5px;
	border: none;
	color: $input_textarea_color;
}

a {
	text-decoration: none;
	color: #000;
}

.main {
  width: 400px;
  min-height: 2500px;
  transition: transform 0.25s ease;
}

.container {
	padding: 4px 10px;
}

.title {
	padding: 5px 0;
	font-weight: 400;
	font-size: 20px;
	text-transform: uppercase;

	span {
		color: #009baf;
		font-weight: 900;
	}
}

.block {
	background-color: $block_color;
	border-radius: 5px;
	display: flex;
	flex-flow: row wrap;
	padding: 4px 0;
	margin-bottom: 6px;
	position: relative;
	box-shadow: 10px 11px 17px -17px rgba(0, 0, 0, 0.5);
	overflow: hidden;

	&__info {
		width: 22%;
		display: flex;
		flex-flow: column wrap;
		justify-content: center;
		align-items: flex-end;
	    text-align: right;
	    padding: 5px;
	}

	&__input {
		width: 70%;
		display: flex;
		flex-flow: column wrap;
		justify-content: flex-start;
		padding: 0 10px;
		margin-top: 5px;
		padding-top: 10px;
	}
	
	&__title {
		width: 100%;
		&--sm {
			position: absolute;
			top: 5px;
			left: 5px;
			font-size: 11px;
			font-weight: 300;
		}
	}

	&--single {
		padding: 7px;
	}

	&__item {
		max-height: 0;
		// transition: max-height 0.15s ease-out;
		visibility: hidden;
		opacity: 0;

		p {
			padding-top: 7px;
		}
	}
}

.plus {
	position: absolute;
	right: 10px;
	top: 15px;
	transform: translateX(-50%) translateY(-50%);
	cursor: pointer;
	font-weight: 900;
	color: #ccc;
	user-select: none;
	transition-duration: .15s;

	&:hover {
		color: #333;
	}

	&--rotate {
		transform: translateX(-50%) translateY(-50%) rotate(45deg);
	}
}

.active {
	max-height: 500px;
    transition: max-height 0.5s ease-in;
    visibility: visible;
    opacity: 1;
}

.lenght {
	font-size: 12px;
	font-weight: 300;
	color: #ccc;
	letter-spacing: -1px;

	span {
		font-weight: 600;
	}
}

.copy {
	font-size: 12px;
	font-weight: 300;
    padding: 2px 0;
	color: #159a5f;
	opacity: 0;
	transition-duration: 0.7s;
}

.switch {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 56px;
  height: 20px;
  padding: 3px;
  background-color: white;
  border-radius: 18px;
  box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  background-image: linear-gradient(to bottom, #eeeeee, white 25px);
}

.switch-input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.switch-label {
  position: relative;
  display: block;
  height: inherit;
  font-size: 10px;
  text-transform: uppercase;
  background: #eceeef;
  border-radius: inherit;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
  transition: 0.15s ease-out;;
  transition-property: opacity background;
}
.switch-label:before, .switch-label:after {
  position: absolute;
  top: 50%;
  margin-top: -.5em;
  line-height: 1;
  transition: inherit;
}
.switch-label:before {
  content: attr(data-off);
  right: 11px;
  color: #aaa;
  text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}
.switch-label:after {
  content: attr(data-on);
  left: 11px;
  color: white;
  text-shadow: 0 1px rgba(0, 0, 0, 0.2);
  opacity: 0;
}
.switch-input:checked ~ .switch-label {
  background: #47a8d8;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
}
.switch-input:checked ~ .switch-label:before {
  opacity: 0;
}
.switch-input:checked ~ .switch-label:after {
  opacity: 1;
}

.switch-handle {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 18px;
  height: 18px;
  background: white;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(to bottom, white 40%, #f0f0f0);
  transition: left 0.15s ease-out;
}
.switch-handle:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -6px 0 0 -6px;
  width: 12px;
  height: 12px;
  background: #f9f9f9;
  border-radius: 6px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
  background-image: linear-gradient(to bottom, #eeeeee, white);
}
.switch-input:checked ~ .switch-handle {
  left: 40px;
  box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}

.switch-green > .switch-input:checked ~ .switch-label {
  background: #4fb845;
}
